/*Overall page base*/
body {
    font-family: Arial, sans-serif;
    margin: auto;
  }
/*Navigation Bar*/
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
  }
  
  nav ul {
    list-style: none;
    margin: auto;
    padding: 10;
  }
  
  nav ul li {
    display: inline-block;
    margin: .1vw 2vw .1vw 2vw;
    font-family: garamond;
    font-size: 2.3vw;
  }
  
  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  /*Design Image*/
  header {
    background-image: url(https://images.pexels.com/photos/3389466/pexels-photo-3389466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  header h1 {
    font-size: 3em;
    margin: 0;
  }

  /*About me, Portfolio, and Contact me sections*/
  main {
    margin: 50px auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  section {
    margin: 50px 0;
    font-family: Impact, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif , 'Arial Narrow Bold', sans-serif;
  }
/*Section headers*/
  section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: grey;
    display: list-item;
    list-style-type: "⚆";
    padding-inline-start: 1ch;
  }

  .first-text {
    font-size: 1.2em;
    margin: 0 0 0;
  }
  .second-text {
    font-size: 1em;
  }
  
  #about img {
    display:inline-flex;
    margin: 0 0 0;
    border: 1px solid #333;
    max-width: 50%;
    height: auto;
  }

  #portfolio img {
    display:inline-flex;
    margin: 0 0;
    border: 1px solid #333;
    max-width: 80%;
    height: auto;
  }

  #portfolio img:hover {
    opacity: .5;
  }

  #portfolio #first {
    transform: scale(1.3)
  }

  section ul {
    list-style: none;
    margin: 50px;
    padding: 0;
  }
  
  section li {
    margin-bottom: 50px;
    font-size: 1em;
  }
  
  section li a {
    color: #333;
    text-decoration: none;
  }
  /*Contact me form*/
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
  }
  /*Bottom banner*/
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  